@model VehicleDispatchPlan.Models.V_LodgingCfm
@using VehicleDispatchPlan.Constants;
@using VehicleDispatchPlan.Models;

@{
    ViewBag.Title = "宿泊状況確認";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Confirm", "Lodging", FormMethod.Get))
{
    <div class="form-inline">
        <p>
            対象期間: @Html.EditorFor(model => Model.DateFrom, new { htmlAttributes = new { @class = "form-control" } })
            ～ @Html.EditorFor(model => Model.DateTo, new { htmlAttributes = new { @class = "form-control" } })
            <input type="submit" name="cmd" value="@AppConstant.CMD_SEARCH" class="btn btn-default" />
        </p>
    </div>

    <div class="form-inline">
        宿泊施設: @Html.DropDownListFor(model => Model.LodgingCd, Model.SelectLodging, "選択してください", new { htmlAttributes = new { @class = "form-control" } })
    </div>
}
@* エラーメッセージ *@
<div style="color: red">@Html.Raw(ViewBag.ErrorMessage)</div>
<hr />

@* データが0件の場合は表示しない *@
@{
    if (Model.Trainee.Count() > 0)
    {
        <div class="form-horizontal">
            <table border="1" align="left">
                <thead>
                    <tr>
                        <th style="text-align: center;">教習生</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (T_TraineeLodging trainee in Model.Trainee)
                        {
                            <tr>
                                <td style="padding-left:5px;padding-right:5px;">@Html.ActionLink(trainee.TraineeId + " : " + trainee.TraineeName, "../TraineeLodging/Details/" + trainee.TraineeId)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="row" style="overflow: auto;">
                <table border="1" style="table-layout: fixed;">
                    <thead>
                        @* 日付 *@
                        <tr>
                            @for (DateTime date = (DateTime)Model.DateFrom; date <= Model.DateTo; date = date.AddDays(1))
                            {
                                <th style="width:40px; min-width:40px; text-align: center;">@date.ToString("M/d")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (T_TraineeLodging trainee in Model.Trainee)
                            {
                                <tr>
                                    @for (DateTime date = (DateTime)Model.DateFrom; date <= Model.DateTo; date = date.AddDays(1))
                                    {
                                        // 宿泊期間中の背景色を設定
                                        if (trainee.EntrancePlanDate <= date && date <= trainee.GraduatePlanDate)
                                        {
                                            <td style="background-color:yellow;">&nbsp</td>
                                        }
                                        else
                                        {
                                            <td>&nbsp</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    }
}