@using VehicleDispatchPlan.Constants;
@using VehicleDispatchPlan.Models;
@model VehicleDispatchPlan.Models.T_DailyClassesByTrainer

@{
    ViewBag.Title = "指導員登録（当日）";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@{
    var TempDate = Model.Date;
    @Html.HiddenFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.HiddenFor(model => model.No, htmlAttributes: new { @class = "control-label col-md-2" })

}

@* エラーメッセージ *@
<div style="color: Red">@ViewBag.ErrorMessage</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>指導員登録</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TrainerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrainerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrainerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Classes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Classes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Classes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@AppConstant.CMD_REGIST" class="btn btn-default" />
            </div>
            <div>
                @Html.ActionLink("戻る", "List", new { Date = TempDate })
            </div>
        </div>
    </div>



}




