@model VehicleDispatchPlan.Models.V_SearchInstractorViewModel
@using VehicleDispatchPlan.Constants;

@{
    ViewBag.Title = "指導員管理";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("≪ 日別予測条件", "../DailyParameter/Edit", new { SearchDate = TempData.Peek(AppConstant.TEMP_KEY_SEARCH_DATE) })
</div>

@using (Html.BeginForm("List", "Instractor", FormMethod.Get))
{
    @*対象日*@
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@AppConstant.CMD_SEARCH" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@* データが存在しない場合は非活性 *@
@{
    if (Model.Date == null)
    {
        @Html.ActionLink("対象日の指導員を新規に登録", "Create", new { Date = Model.Date }, new { @style = "pointer-events:none;color:grey;" })
    }
    else
    {
        @Html.ActionLink("対象日の指導員を新規に登録", "Create", new { Date = Model.Date })
    }
}

@* エラーメッセージ *@
<div style="color: red;margin-top:5px;">@Html.Raw(ViewBag.ErrorMessage)</div>
@* 完了メッセージ *@
<div style="color: green">@Html.Raw(ViewBag.CompMessage)</div>

@using (Html.BeginForm("List", "Instractor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    Html.EnableClientValidation(false);

    <table class="table">
        <tr>
            @* ヘッダ部 *@
            <th>
                @Html.DisplayNameFor(model => Model.t_DailyClassesByTrainer.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.t_DailyClassesByTrainer.FirstOrDefault().No)
            </th>

            <th>
                @Html.DisplayNameFor(model => Model.t_DailyClassesByTrainer.FirstOrDefault().TrainerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.t_DailyClassesByTrainer.FirstOrDefault().Classes)
            </th>
            <th>
                @*空白*@
            </th>
        </tr>

        @for (int i = 0; i < Model.t_DailyClassesByTrainer.Count(); i++)
        {
            <tr>
                @* データ部 *@

                @* 対象日は非表示 *@
                <td>
                    @Html.EditorFor(modelItem => Model.t_DailyClassesByTrainer[i].Date, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width: 150px;" } })
                </td>
                <td>
                    @* 主キー *@
                    @Html.EditorFor(modelItem => Model.t_DailyClassesByTrainer[i].No, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @style = "width: 150px;" } })
                </td>

                <td>
                    @Html.EditorFor(modelItem => Model.t_DailyClassesByTrainer[i].TrainerName, new { htmlAttributes = new { @class = "form-control", @style = "width: 150px;" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model.t_DailyClassesByTrainer[i].Classes, new { htmlAttributes = new { @class = "form-control", @style = "width: 150px;" } })
                </td>
                <td>
                    @Html.ActionLink("削除", "Delete", new { No = Model.t_DailyClassesByTrainer[i].No, Date = Model.Date })
                </td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            @{
                // 件数が0件の場合はボタンを非活性にする
                if (Model.t_DailyClassesByTrainer.Count() == 0)
                {
                    <input type="submit" value="@AppConstant.CMD_UPDATE" class="btn btn-default" style="margin-left:10px;" disabled="disabled" />
                }
                else
                {
                    <input type="submit" value="@AppConstant.CMD_UPDATE" class="btn btn-default" style="margin-left:10px;" />
                }
            }
        </div>
    </div>
}