@model List<VehicleDispatchPlan.Models.V_ChartData>
@using VehicleDispatchPlan.Models;
@using VehicleDispatchPlan.Constants;

@* 日付毎に行を生成してから、行列を置換している（表示上は日付が列になる） *@
<table align="left" style="table-layout: fixed; -ms-writing-mode: tb-lr; writing-mode: vertical-lr;" class="table-bordered">
    <tbody style="background-color: #eeeeee;">
        <tr>
            <th width="200" rowspan="3" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode: lr-tb; writing-mode: horizontal-tb; white-space: nowrap;">日付</span></th>
            <th colspan="3" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">受入残</span></th>
            <th colspan="3" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">在籍可能</span></th>
            <th colspan="9" style="text-align: center; border-color: #bbbbbb; "><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">在籍見込</span></th>
            <th rowspan="3" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">週残時間数</span></th>
        </tr>
        <tr>
            <!--受入残-->
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">総数</span></th>
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">合宿</span></th>
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">通学</span></th>
            <!--在籍可能-->
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">総数</span></th>
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">合宿</span></th>
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">通学</span></th>
            <!--在籍見込-->
            <th rowspan="2" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">総数</span></th>
            <th colspan="4" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">合宿</span></th>
            <th colspan="4" style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">通学</span></th>
        </tr>
        <tr>
            <!--在籍見込(合宿)-->
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">MT-1</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">MT-2</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">AT-1</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">AT-2</span></th>
            <!--在籍見込(通学)-->
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">MT-1</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">MT-2</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">AT-1</span></th>
            <th style="text-align: center; border-color: #bbbbbb;"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">AT-2</span></th>
        </tr>
    </tbody>
</table>

<div class="row" style="overflow-x: auto;">
    <table style="table-layout: fixed; -ms-writing-mode: tb-lr; writing-mode: vertical-lr;" class="table-bordered table-hover">
        <tbody>
            @{
                foreach (V_ChartData item in Model)
                {
                    // 枠線
                    string border = "";
                    // 背景色
                    string background = "";
                    // 曜日によってスタイルを設定
                    switch (item.Date.DayOfWeek)
                    {
                        // 日曜の場合
                        case DayOfWeek.Sunday:
                            border = "border-left:solid 2px;border-left-color:#aaaaaa;";
                            background = "background:rgb(255, 190, 220);";
                            break;
                        // 土曜の場合
                        case DayOfWeek.Saturday:
                            background = "background:rgb(190, 220, 255);";
                            break;
                        // その他
                        default:
                            break;
                    }

                    <tr >
                        @* 日付 *@
                        @{
                            bool isLink = (bool?)TempData.Peek(AppConstant.TEMP_KEY_IS_LINK) ?? false;
                            // TempDataの日付From/Toが設定されている場合はActionLinkで設定
                            if (isLink == true)
                            {
                                <th style="width:40px; min-width:40px; text-align:center;@border @background"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@Html.ActionLink(item.Date.ToString("M/d"), "../DailyParameter/Edit", new { SearchDate = item.Date })</span></th>
                            }
                            else
                            {
                                <th style="width:40px; min-width:40px; text-align:center;@border @background"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.Date.ToString("M/d")</span></th>
                            }
                        }
                        @* 受入残 - 総数 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.AcceptTotalRemAmt</span></td>
                        @* 受入残 - 合宿 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.AcceptLodgingRemAmt</span></td>
                        @* 受入残 - 通学 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.AcceptCommutingRemAmt</span></td>
                        @* 在籍最大 - 総数 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.DailyTotalMaxAmt</span></td>
                        @* 在籍最大 - 合宿 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.DailyLodgingMaxAmt</span></td>
                        @* 在籍最大 - 通学 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.DailyCommutingMaxAmt</span></td>
                        @* 在籍実績 - 総数 *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.TotalRegAmt</span></td>
                        @* 在籍実績 - 合宿(MT-1) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.LodgingMtFstRegAmt</span></td>
                        @* 在籍実績 - 合宿(MT-2) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.LodgingMtSndRegAmt</span></td>
                        @* 在籍実績 - 合宿(AT-1) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.LodgingAtFstRegAmt</span></td>
                        @* 在籍実績 - 合宿(AT-2) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.LodgingAtSndRegAmt</span></td>
                        @* 在籍実績 - 通学(MT-1) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.CommutingMtFstRegAmt</span></td>
                        @* 在籍実績 - 通学(MT-2) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.CommutingMtSndRegAmt</span></td>
                        @* 在籍実績 - 通学(AT-1) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.CommutingAtFstRegAmt</span></td>
                        @* 在籍実績 - 通学(AT-2) *@
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.CommutingAtSndRegAmt</span></td>
                        <td style="text-align: center;@border"><span style="-ms-writing-mode:lr-tb;writing-mode:horizontal-tb;white-space:nowrap;">@item.WeeklyRemClasses</span></td>
                    </tr>
                }
            }
            </tbody>
    </table>
</div>